Weather/Weather.xcodeproj/project.xcworkspace/xcuserdata/konstantinlyashenko.xcuserdatad/UserInterfaceState.xcuserstate
Weather/Weather.xcodeproj/xcuserdata/konstantinlyashenko.xcuserdatad/xcschemes/xcschememanagement.plist
Weather/WeatherProject.xcodeproj/project.xcworkspace/xcuserdata/konstantinlyashenko.xcuserdatad/UserInterfaceState.xcuserstate
Weather/WeatherProject.xcodeproj/xcuserdata/konstantinlyashenko.xcuserdatad/xcschemes/xcschememanagement.plist
